- content_for :title, @notebook.title

- if @selected_memo
  = turbo_stream_from @selected_memo

- content_for :notebook_memo_panel do
  - if @selected_memo
    = render "memos/show_content", memo: @selected_memo, notebook: @notebook, can_manage_notebook: @can_manage
  - else
    = render "notebooks/overview", notebook: @notebook
