.diagram-source-viewer__host {
  min-height: calc(100vh - calc(var(--size-8) + var(--size-2)));
}

@media (min-width: 768px) {
  .diagram-source-viewer__host {
    min-height: calc(100vh - var(--size-9));
  }
}

.diagram-source-viewer__host .cm-editor {
  height: 100%;
}

.diagram-source-viewer__host .cm-scroller {
  min-height: 100%;
}
