dialog.memo-directory-dialog.kb-modal-panel.kb-scroll-dialog.rounded-lg.p-0 data-memo-directory-dialog-target="dialog" data-action="click->memo-directory-dialog#backdropClick"
  #memo_directory_dialog_body.p-6 data-memo-directory-dialog-target="body"
