#memo_directory_field.flex.items-start.gap-3
  - selected_dir = memo.memo_directory&.root? ? nil : memo.memo_directory
  = render "shared/directory_tree_picker",
    label_text: "ディレクトリ",
    field_name: "memo[memo_directory_id]",
    field_id: "memo_memo_directory_id",
    selected_directory: selected_dir,
    directory_options: memo_directories_for_select,
    placeholder_text: "保存先フォルダを選んでください",
    hidden_field_data: { memo_draft_target: "directory", action: "change->memo-draft#directoryChange" },
    wiki_link_copy: true
