ruby:
  editable = local_assigns.fetch(:editable, false)
  all_tag_names = memo_tag_names_for_datalist
  taken_lower = memo.tags.map { |t| t.name.downcase }
  datalist_names = all_tag_names.reject { |n| taken_lower.include?(n.downcase) }
  list_id = "memo_show_tag_suggestions_#{memo.id}"

- if editable
  .mb-3
    = hidden_field_tag "memo_show_tag_list", memo.tags.map(&:name).join(", "), data: { memo_show_metadata_target: "tagList" }
    div class=kb_tag_input_row
      div.flex.flex-wrap.items-center.gap-1 data-memo-show-metadata-target="tagPills"
      = label_tag "memo_show_tag_input_#{memo.id}", "タグ", class: "sr-only"
      = text_field_tag "memo_show_tag_input", "", id: "memo_show_tag_input_#{memo.id}", autocomplete: "off", placeholder: "タグを入力", class: memo_form_tag_input_inline, data: { memo_show_metadata_target: "tagInput", tag_suggestions_list: list_id, action: "keydown->memo-show-metadata#tagInputKeydown change->memo-show-metadata#tagInputChange input->memo-show-metadata#tagInputInput" }
    datalist id=list_id
      - datalist_names.each do |name|
        option value=name
- elsif memo.tags.any?
  ul.mb-3.flex.flex-wrap.gap-1
    - memo.tags.each do |tag|
      li
        = link_to tag.name,
          memo_sidebar_open_memo_path(memo, sidebar_view: "tag", tag_id: tag.id),
          class: "kb-tag-pill-link",
          title: "サイドバーでこのタグを表示"
