div#memo_sidebar_memo_list_append_meta data-has-more=(@sidebar_memos_has_more ? "true" : "false") data-next-offset=@sidebar_memo_list_next_offset
= render "memos/sidebar_memo_list_rows", memos: @memos
