#memo_sidebar_memo_list_container
  - if @memos&.any?
    ul#memo_sidebar_memo_list class="kb-divide-y" data-history-memo-ids=memo_sidebar_history_memo_ids
      - @memos.each do |memo|
        li.flex.min-h-0.min-w-0 id=dom_id(memo, :sidebar_row)
          - nav_q = memo_sidebar_nav_query
          - if @sidebar_view == "directory"
            = link_to memo_sidebar_memo_main_href(memo), class: "#{memo_sidebar_memo_list_row_classes(memo.id)} min-w-0 flex-1 px-2 py-3 text-left text-inherit no-underline kb-focus-ring-inset", draggable: "false" do
              = render "memos/list_panel_memo_row_inner", memo: memo, timestamp: memo_list_timestamp(memo)
          - else
            = link_to memo_sidebar_memo_main_href(memo), class: "#{memo_sidebar_memo_list_row_classes(memo.id)} min-w-0 flex-1 px-2 py-3 text-left text-inherit no-underline kb-focus-ring-inset", draggable: "false" do
              = render "memos/list_panel_memo_row_inner", memo: memo, timestamp: memo_list_timestamp(memo)
  - else
    .px-3.py-8.text-center.text-sm.kb-text-muted
      - if @sidebar_view == "search"
        - if @memo_search_query.present?
          p 該当するメモはありません
        - else
          p 上の欄にキーワードを入力してください
      - elsif @sidebar_view == "tag"
        p このタグのメモはまだありません
      - elsif @sidebar_view == "history"
        p まだ表示履歴がありません
      - elsif defined?(@current_memo_directory) && @current_memo_directory&.root?
        p 日付フォルダを選ぶとメモが表示されます
      - else
        p この日付フォルダにはまだありません
