ruby:
  list_data = { controller: "memo-sidebar-memo-list" }
  if @memos&.any?
    list_data.merge!(
      memo_sidebar_memo_list_url_value: sidebar_memo_list_memos_path,
      memo_sidebar_memo_list_offset_value: @sidebar_memo_list_next_offset,
      memo_sidebar_memo_list_has_more_value: @sidebar_memos_has_more,
      memo_sidebar_memo_list_total_value: @all_memos_total_count,
      memo_sidebar_memo_list_scope_total_value: @sidebar_memos_scope_total_count,
      memo_sidebar_memo_list_params_value: memo_sidebar_list_fetch_params.to_json
    )
  end
= tag.div id: "memo_sidebar_memo_list_container", data: list_data do
  - if @memos&.any?
    p#memo_sidebar_list_count.mb-2.px-3.pt-2.text-xs.kb-text-secondary data-total-count=@all_memos_total_count data-scope-total-count=@sidebar_memos_scope_total_count = memo_sidebar_list_count_text
    ul#memo_sidebar_memo_list class="kb-divide-y" data-history-memo-ids=memo_sidebar_history_memo_ids
      = render "memos/sidebar_memo_list_rows", memos: @memos
      - if @sidebar_memos_has_more && @sidebar_memo_list_next_offset < @sidebar_memos_scope_total_count
        li#memo_sidebar_memo_list_sentinel.min-h-px.py-0.flex.min-w-0.justify-center.text-xs.kb-text-muted aria-hidden="true" data-memo-sidebar-memo-list-target="sentinel"
          span data-memo-sidebar-memo-list-target="sentinelLabel"
  - else
    .px-3.py-8.text-center.text-sm.kb-text-muted
      - if @sidebar_view == "search"
        - if @memo_search_query.present?
          p 該当するメモはありません
        - else
          p 上の欄にキーワードを入力してください
      - elsif @sidebar_view == "tag"
        - if @current_tag
          p このタグのメモはまだありません
        - else
          p 上の欄でタグを検索して選択してください
      - elsif @sidebar_view == "history"
        p まだ表示履歴がありません
      - elsif defined?(@current_memo_directory) && @current_memo_directory&.root?
        p 日付フォルダを選ぶとメモが表示されます
      - else
        p この日付フォルダにはまだありません
