doctype html
html lang="ja"
  head
    title
      = content_for(:title) || "SVG 編集"
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = vite_client_tag
    = vite_javascript_tag "svg_editor"
  body.kb-chrome-body.m-0.overflow-hidden
    = yield
